#app {
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 0 5px #6B9080;
  border: 2px solid #CCE3DE;
  border-radius: 5px;
  background: #CCE3DE;
}

#title {
  justify-content: center;
  text-align: center;
}

.horizontal {
  display: flex;
}

div, input, select {
  font-family: Roboto !important;
}

a {
  color: #6B9080;
}

/* MOBILE */
@media (max-width: 1350px){
  #app {
    margin: 0;
    width: 100vw;
  }
}